.flag {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: middle;

  &.small {
    width: 20px;
    height: 15px;
  }

  &.medium {
    width: 30px;
    height: 22.5px;
  }

  &.large {
    width: 40px;
    height: 30px;
  }
}